<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cartrixalin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body class="has-navbar-fixed-top">
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="h1">Cartrixalin</h1>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start ml-6">
            <a class="navbar-item" href="{{ url_for('toner_views.show_all_toners') }}">
                Toner
            </a>
            <a class="navbar-item" href="">
                Tintenpatrone
            </a>
            <a class="navbar-item" href="">
                Bildtrommel
            </a>
            <a class="navbar-item" href="{{ url_for('brand_views.show_all_brands') }}">
                Marke
            </a>
            <a class="navbar-item" href="{{ url_for('color_views.show_all_colors') }}">
                Farbe
            </a>
        </div>
    </div>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>