{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <h1 class="title is-3">Farben</h1>
                    </div>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <!-- Items here... -->
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a href="{{ url_for('color_views.new_color') }}" class="button is-primary">Neu</a>
                                <a href="{{ url_for('color_views.new_color') }}" class="button is-secondary">Upload</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="columns is-multiline">
                {% for color in colors %}
                    <div class="column is-one-quarter">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    <a href="{{ url_for('color_views.show_color', color_id=color.id) }}">{{ color.name }}</a>
                                </p>
                            </header>
                            <footer class="card-footer">
                                <form action="{{ color.id }}/delete" method="POST">
                                    <!-- Hidden input field to submit the id -->
                                    <input type="hidden" name="color_id" value="{{ color.id }}">
                                    <button class="card-footer-item has-text-danger" type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </footer>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}