{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Neue Farbe</h1>
            <form method="POST">
                {% set form_fields = ['name'] %}
                {{ form.hidden_tag() }}
                {% for field in form_fields %}
                    <div class="field">
                        <label class="label">{{ field.title() }}</label>
                        <div class="control">
                          <!-- Adding Bulma's input class -->
                          {{ form[field](class="input") }}
                        </div>
                    </div>
                {% endfor %}
                <div class="field">
                    <div class="control">
                        <!-- Adding Bulma's button class -->
                        <input type="submit" value="Erstellen" class="button is-primary">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}